<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="../lib/browsers.js"></script>
    <script src="./browser.js"></script>

    <script src="/lib/cookie-notice.js"></script>

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/nav.css" rel="stylesheet" />

    <link href="/tool/lib/mapbox-gl.css" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />

    <title>Energy Access Explorer</title>
  </head>

  <body>
    {{> views/nav}}

    <div id="mobile-switcher"></div>

    <div id="playground">
      <div id="left-pane">
		<div id="drawer">
		  <a for="controls"><i class="bi bi-list-task"></i></a>
		  <a for="vectors"><i class="bi bi-search"></i></a>
		  <a for="analysis"><i class="bi bi-heart"></i></a>
		  <a for="geographies"><i class="bi bi-globe"></i></a>
		  <a for="locations"><i class="bi bi-geo"></i></a>
		</div>

        <div id="controls" class="search-panel">
		  <div class="search-results">
			<div id="controls-tabs"></div>
			<div id="controls-contents"></div>
		  </div>
        </div>

		<div id="geographies" class="search-panel">
		  <div class="search-results"></div>
		</div>

		<div id="vectors" class="search-panel">
		  <div class="search-results"></div>
		</div>

		<div id="analysis" class="search-panel">
		  <div class="search-results"></div>
		</div>

		<div id="locations" class="search-panel">
		  <div class="search-results"></div>
		</div>
      </div>

      <div id="visual">
        <div id="maparea">
          <div id="mapbox-container"></div>
          <div id="views"></div>
        </div>

        <!-- timeline will go here -->
      </div>

      <div id="right-pane">
        <div id="cards-pane">
          <div id="cards-list"></div>
        </div>

        <div id="filtered-pane">
          <div class="up-title">Considered geographies</div>
          <ul id="filtered-subgeographies"></ul>
        </div>

        <div id="indexes-pane">
          <div id="index-graphs">
            <div id="index-graphs-title" class="up-title"></div>
            <div id="index-graphs-toolbox">
              <a id="index-graphs-opacity" title="Change opacity of the analysis layer"></a>
              <a id="index-graphs-info" title="Info about different indexes"></a>
              <a id="index-graphs-download" title="Download TIFF image of the current analysis"></a>
              <a id="index-graphs-code" title="Download JSON file of the current analysis"></a>
            </div>
            <div id="index-graphs-description"></div>
          </div>

          <ul id="indexes-list"></ul>

          <div id="summary-button" class="up-title" ripple>Snapshot</div>
        </div>

        <div id="drawer-right-pane">
          <div onclick="ea_nanny_force_start();">
            Help
          </div>

          <div>
            Disclaimer
            <div id="disclaimer-message">
              <p>
                The maps are for illustrative purposes and do not imply the
                expression of any opinion on the part of WRI, concerning the
                legal status of any country or territory or concerning the
                delimitation of frontiers or boundaries.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> views/loading}}
  </body>

  <script>
	ea_modal = new modal("ea-modal", {});
	ea_flash = new flash();
	ea_api = new pgrest(ea_settings.database, ea_flash);

	GEOGRAPHY = null;
	MAPBOX = null;
	INFOMODE = false;
	MOBILE = false;
	ENV = null;
	O = null;
	U = null;
	DST = new Map();
  </script>

  <script type="module">
	import {init} from './a.js';
	init();
  </script>

  {{> views/a-templates}}

  {{> views/templates}}

  {{> views/svgs}}

  {{> views/gapps}}
</html>
