<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link href="/tool/lib/mapbox-gl.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
  </head>

  <body>
    <div id="playground">
      <div id="visual">
        <div id="maparea">
          <div id="mapbox-container"></div>
        </div>
      </div>
    </div>

    {{> views/loading}}
  </body>

  <script type="module">
    import flash from '../lib/flash.js';
    import pgrest from '../lib/pgrest.js';

	window.FLASH = new flash();
	window.API = new pgrest(ea_settings.database, FLASH);

	window.U = null;

	window.GEOGRAPHY = null;
	window.OUTLINE = null;
	window.MAPBOX = null;
	window.MOBILE = false;
	window.DST = new Map();
  </script>

  <script type="module">
	import {init} from './d.js';
	init();
  </script>

  {{> views/templates}}
</html>
