{{define "disclaimer"}}
    <h3>Disclaimer</h3>
    <p>
      The maps are for illustrative purposes and do not imply the
      expression of any opinion on the part of WRI, concerning the
      legal status of any country or territory or concerning the
      delimitation of frontiers or boundaries.
    </p>

    <br>
    <p>
      If you use this platform, partially or entirely, you must follow
      the <a href="https://www.energyaccessexplorer.org/attribution/">attribution instructions</a>.
    </p>
{{end}}
