<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="refresh" content="1; url={{> views/base}}/tool/s" />
  </head>

  <body>
    <p>You are being redirected <a href="{{> views/base}}/tool/s">here</a>.</p>
  </body>
</html>
