<template id="snapshot">
  <div class="snapshot-square"
       bind-attr="data"
       bind-arg="time">
    <header>
      <strong class="title"
              bind="title"></strong>

      <p class="path"
         bind="path"></p>

      <div class="title-edit">
        <span class="bi bi-pencil"></span>
        <span class="bi bi-trash3"></span>
      </div>
    </header>

    <content>
      <p bind="date"
         class="date"></p>

      <div class="env"
           bind-differs="env"
           bind-arg="production">
        <strong bind="env"></strong>
      </div>
    </content>

    <footer>
      <a bind-attr="href"
         bind-arg="url"
         target="_blank">
        <i class="bi bi-box-arrow-up-right"></i>
        Open
      </a>

      <span>
        <button class="download">
          <i class="bi bi-download"></i>
          Download
        </button>

        &nbsp;

        <button class="share">
          <i class="bi bi-share"></i>
          Share
        </button>
      </span>
    </footer>
  </div>
</template>
