<template id="sessions">
  <ul>
    <li bind-each="_">
    </li>
  </ul>
</template>

<template id="session">
  <div class="session-square">
    <h4>
      <a bind-attr="href"
         bind-arg="url"
         target="_blank">
        <span bind="last"></span>
        &nbsp;
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </h4>

    <p bind="date" class="date"></p>

    <h4 bind="path"></h4>

    <p>
      <span bind="size"></span> snapshots
    </p>
  </div>
</template>
