<template id="session">
  <div class="session-square"
       bind-attr="data"
       bind-arg="time">
    <h4>
      <a bind-attr="href"
         bind-arg="url"
         target="_blank">
        <span class="title" bind="title"></span>
        &nbsp;
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </h4>

    <div class="title-edit"><span class="bi bi-pencil"></span></div>

    <p bind="date" class="date"></p>

    <h4 bind="path"></h4>

    <p>
      <span bind="size"></span> snapshots
    </p>
    <div class="download"><span class="bi bi-download"></span>&nbsp;&nbsp;DOWNLOAD</div>
  </div>
</template>
