<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    {{> views/cookie}}

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link rel="stylesheet" href="../lib/bootstrap-icons.css">

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/nav.css" rel="stylesheet" />
    <link href="/stylesheets/thumbnails.css" rel="stylesheet" />

    <link href="./main.css" rel="stylesheet" />

    <script>document.title = ea_settings.title;</script>
  </head>

  <body>
    {{> views/nav}}

    <div id="banner">
      <h1>Energy Access Explorer User Panel</h1>

      <div id="tabs">
        <div tab="saved-analysis" active>Saved Analysis</div>
        <div tab="account">Account</div>
      </div>
    </div>

    <div id="playground">
      <main tab-content="saved-analysis" active>
        <div id="left">
          <br><br><br>
          <strong>Filter</strong><br><br>
          <input id="search" placeholder="Filter by title or geography name">
        </div>

        <div id="sessions">
          <div id="sessions-controls">
            <strong id="sessions-count">0 Sessions</strong>

            <span>
              <label><strong>Sort by</strong></label>
              &nbsp; &nbsp; &nbsp;
              <select id="sort">
                <option value="time">Date</option>
                <option value="title">Title</option>
              </select>
            </span>
          </div>
        </div>
      </main>

      <main tab-content="account">
        <div style="padding: 3em;">
          <button id="change-password"
                  style="padding: 5px 12px;">Change password</button>
        </div>
      </main>
    </div>

    {{> views/loading}}
  </body>

  <script type="module">
    import flash from '../lib/flash.js';
    import pgrest from '../lib/pgrest.js';

    window.FLASH = new flash();
    window.API = new pgrest(ea_settings.database, FLASH);
    window.MOBILE = window.innerWidth < 1152;
  </script>

  {{> views/m-templates}}

  {{> views/env }}

  <script type="module">
    import {init} from './m.js';
    init();
  </script>

  {{> views/gapps}}
</html>
