<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="icon" href="{{> views/base}}/images/EAE Logo_Emblem.svg">

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link rel="stylesheet" href="../lib/bootstrap-icons.css">

    <link href="{{> views/base}}/stylesheets/style.css" rel="stylesheet" />
    <link href="{{> views/base}}/stylesheets/nav.css" rel="stylesheet" />
    <link href="{{> views/base}}/stylesheets/thumbnails.css" rel="stylesheet" />

    <link href="./main.css" rel="stylesheet" />

    {{> views/head}}
  </head>

  <body>
    {{> views/nav}}

    <div id="banner">
      <h1>My EAE</h1>

      <div id="tabs">
        <div tab="saved-analysis" active>
          <i class="bi bi-folder-fill"></i>
          Saved Analysis
        </div>

        <div tab="account">
          <i class="bi bi-person-fill"></i>
          Account
        </div>
      </div>
    </div>

    <div id="playground">
      <main tab-content="saved-analysis" active>
        <input id="search"
               placeholder="Filter by title or geography name">

        <select id="sort">
          <option value="time">Sort by: Date</option>
          <option value="title">Sort by: Title</option>
        </select>

        <div id="snapshots">
          <div id="snapshots-controls">
            <strong id="snapshots-count">0 Analyses</strong>
          </div>
        </div>
      </main>

      <main tab-content="account">
        <div style="padding: 3em;">
          <button id="change-password"
                  style="padding: 5px 12px;">Change password</button>
        </div>
      </main>
    </div>

    {{> views/loading}}
  </body>

  <script type="module">
    import flash from '../lib/flash.js';
    import pgrest from '../lib/pgrest.js';

    window.FLASH = new flash();
    window.API = new pgrest(EAE['settings'].database, FLASH);
    window.MOBILE = window.innerWidth < 1152;
  </script>

  {{> views/m-templates}}

  {{> views/templates}}

  {{> views/env }}

  <script type="module">
    import {init} from './m.js';
    init();
  </script>
</html>
