<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script type="module" src="./browser.js"></script>

    {{> views/cookie}}

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/nav.css" rel="stylesheet" />
    <link href="/stylesheets/thumbnails.css" rel="stylesheet" />

    <link href="./main.css" rel="stylesheet" />

    <title>Energy Access Explorer</title>
  </head>

  <body>
    {{> views/nav}}

    <div id="playground"></div>

    {{> views/loading}}
  </body>

  <script type="module">
    import flash from '../lib/flash.js';
    import pgrest from '../lib/pgrest.js';

    window.FLASH = new flash();
    window.API = new pgrest(ea_settings.database, FLASH);

    window.ENV = null;
    window.MOBILE = false;
  </script>

  {{> views/env }}

  <script type="module">
    import {init} from './s.js';
    init();
  </script>

  {{> views/gapps}}
</html>
