<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="mobile-web-app-capable" content="yes" />

    <script type="module" src="./browser.js"></script>

    {{> views/cookie}}

    <script src="./libs.js?v=--TIMESTAMP--"></script>
    <script src="./main.js?v=--TIMESTAMP--"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/nav.css" rel="stylesheet" />
    <link href="/stylesheets/thumbnails.css" rel="stylesheet" />

    <link href="./main.css" rel="stylesheet" />

    <script>document.title = EAE['settings'].title;</script>
    {{> views/google-analytics }}
  </head>

  <body>
    {{> views/nav}}

    <div id="playground"></div>

    {{> views/loading}}
  </body>

  <script type="module">
    import flash from '../lib/flash.js';
    import pgrest from '../lib/pgrest.js';

    window.FLASH = new flash();
    window.API = new pgrest(EAE['settings'].database, FLASH);
    window.MOBILE = window.innerWidth < 1152;
  </script>

  {{> views/env }}

  <script type="module">
    import {init} from './s.js';
    init();
  </script>

  {{> views/gapps}}

  <!-- load the tool's into cache -->
  <script defer src="../a/libs.js?v=--TIMESTAMP--"></script>
</html>
