<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="640">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script src="/lib/cookie-notice.js"></script>
    <script src="./browser.js"></script>

    <script src="./libs.js"></script>
    <script src="./main.js"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/nav.css" rel="stylesheet" />
    <link href="/stylesheets/thumbnails.css" rel="stylesheet" />

    <link href="./main.css" rel="stylesheet" />

    <title>Energy Access Explorer</title>
  </head>

  <body>
    <nav>
      <input id="toggle"
             class="no-desktop"
             type="checkbox">

      <a href="#"
         class="no-desktop">
        <label for="toggle">
          <svg style="width:24px;height:24px" viewBox="0 0 24 14">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>&nbsp;
        </label>
      </a>

      <a id="energy-access-link"
         href="/">
        Energy Access Explorer
      </a>

      <div id="navigation-links">
        <a href="/maps-and-data/s"
           class="toggleable">
          Maps&nbsp;&amp;&nbsp;Data
        </a>

        <a href="/methodology"
           class="toggleable">
          Methodology
        </a>

        <a href="/about"
           class="toggleable">
          About
        </a>

        <a href="/get-involved"
           class="toggleable">
          Get Involved
        </a>
      </div>
    </nav>

    <script>
      (function() {
        var links = document.querySelectorAll('nav #navigation-links a');

        for (var l of links) {
          if (location.pathname.match(new RegExp(l.getAttribute('href'))))
            l.classList.add("active");
        }
      })();
    </script>

    <div id="playground"></div>

    <div id="app-loading" class="loading">
      <div class="spinner"></div>
      <p>Loading data...</p>
    </div>
  </body>

  <script>
    ea_presets = {
      "market": {
        "short": "Exploring new energy markets",
        "long": "Interested in where there is demand for electricity away from the existing grid."
      },
      "planning": {
        "short": "Planning for electrification",
        "long": "Interested in the overall picture of where demand and supply exists."
      },
      "investment": {
        "short": "Investing for Impact",
        "long": "Interested in where there is a lack of funding for renewable energy systems."
      },
      "custom": {
        "short": "Other",
        "long": "Customize the data analysis to your own interests."
      }
    };

    ea_select_setup();

    window.ea_modal = new modal("ea-modal", {});
    window.ea_flash = new flash();
  </script>

  <script src="/javascripts/gapps.js"></script>
</html>
