<template id="ds-controls-template">
  <style>
    @import "./ripple.css";

    main {
      background-color: var(--the-darker-white);
      border-bottom: solid 1px #d9d9d9;
      color: var(--the-color);
      position: relative;
    }

    main.active {
      background-color: white;
    }

    main.disabled {
      color: #9ca9b5;
    }

    header {
      display: flex;
      justify-content: space-between;

      padding: 0.7em;
      padding-right: 0.4em;

      cursor: pointer;
    }

    [name=name] {
      flex: 1;
      display: block;
      margin: auto 0.5em;
      line-height: 1.5em;
    }

    [name=info],
    [name=checkbox] {
      flex: 0;
      display: block;
    }

    [name=checkbox] {
      margin-bottom: -4px;
      transform: scale(0.6);
    }

    content {
      display: none;
      padding: 0.7em;
    }

    .svg-interval {
      filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    }

    .advanced-controls {
      display: none;
      border-top: solid 1px #dfdfdf;
      margin-top: 1em;
      padding-top: 1em;
    }

    .ramp {
      font-size: 0.8em;
    }

    .control-option {
      margin-left: 1.5em;
      margin-right: 2.5em;
      margin-bottom: 0.9em;
    }

    .collection {
      font-size: 0.85em;
      margin-bottom: 1em;
      margin-top: 0;
      color: #666;
    }

    select {
      border: none;
      box-sizing: content-box;

      padding: 0.65em;

      width: 100%;

      background-color: white;
    }

    .loading {
      position: absolute;
      display: none;
      background-color: rgba(0,0,0,0.15);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      text-align: left;
      z-index: 1;
    }

    .loading .spinner {
      display: block;
      position: relative;
      top: 4px;
      left: 10px;
      border: 1px solid #333;
      border-radius: 50%;
      border-top: 1px solid white;
      background-color: #D0D0D0;
      animation: spin 2s linear infinite;
      width: 24px;
      height: 24px;
      margin: 0.5em;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>

  <main>
    <div class="loading"><div class="spinner"></div></div>

    <header ripple>
      <slot name="checkbox"></slot>
      <slot name="name"></slot>
    </header>
  </main>
</template>

<template id="ds-card-template">
  <style>
    @import url("../lib/bootstrap-icons.css");

    :host {
      background-color: var(--the-white);
      display: flex;

      color: var(--the-gray);
      fill: var(--the-gray);

      line-height: 1.8em;
      padding: 5px;

      border-bottom: solid 1px #d9d9d9;
      position: relative;
    }

    :host(:hover) buttons {
      visibility: visible;
    }

    header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      user-select: none;
    }

    main {
      display: block;
      padding: 0.5em;
      padding-right: 0.3em;
      width: 100%;
      color: var(--the-color);
    }

    content {
      flex: 1;
      display: block;
      padding: 0.5em;
      margin-top: 1em;
    }

    .svg-interval,
    .svg-point,
    .svg-polygon,
    .svg-pie {
      filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, 0.3));
    }

    [layout=title] {
      flex: 1;
      margin-right: 5px;
    }

    [name=info] svg {
      width: 18px;
      margin-top: -2px;
    }

    [name=unit] {
      display: inline-block;
      font-weight: bold;
      font-size: small;
      color: gray;
    }

    handle {
      display: flex;
      width: 22px;
      margin-left: 2px;
      align-items: center;

      color: #ccc;
      font-size: 1.8em;

      cursor: grab;
      cursor: -webkit-grab;
    }

    buttons {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 7px 0 10px;
      visibility: hidden;
    }

    buttons [layout] {
      padding: 0 0.35em;
      cursor: pointer;
      border-radius: 2px;
    }

    buttons [layout]:hover {
      box-shadow: inset 0px 0px 5px rgb(0 0 0 / 5%);
      background-color: rgba(0, 0, 0, 0.07);
    }

    [name=ramp] {
      font-size: 0.8em;
    }

    .weight-group,
    .range-group {
      padding: 0.9em 1.5em;
    }

    .collection {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .collection div,
    .collection svg {
      display: inline-block;
      vertical-align: middle;
    }

    .collection svg {
      transform: scale(0.7);
      margin-right: 0.7em;
    }

    .subheader {
      font-size: 0.7em;
    }
  </style>

  <handle>
    <i class="bi bi-grip-vertical"></i>
  </handle>

  <main>
    <header>
      <div layout="title">
        <slot name="name"></slot>
      </div>
    </header>

    <content>
      <slot name="svg"></slot>
      <slot name="range-slider"></slot>
      <slot name="ramp"></slot>

      <div class="group">
        <slot name="collection-list"></slot>
        <slot name="mutant-options"></slot>
      </div>

      <div class="group advanced-controls" style="display: none;">
        <div class="weight-group">
          <slot name="weight"></slot>
        </div>
      </div>
    </content>
  </main>

  <buttons>
    <div layout="close">
      <slot name="close"></slot>
    </div>

    <div layout="info">
      <slot name="info"></slot>
    </div>

    <div layout="ctrls">
      <slot name="ctrls"></slot>
    </div>

    <div layout="opacity">
      <slot name="opacity"></slot>
    </div>
  </buttons>
</template>

<template id="opacity-control">
  <div>
    <style>
      .opacity-box {
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
        background-color: white;
        box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
        padding: 16px;
        z-index: 1;
      }

      .ramp {
        display: flex;
        font-size: 0.8em;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      .unit-ramp {
        font-weight: bold;
        color: darkgray;
      }
    </style>

    <i class="bi bi-circle-half"></i>

    <div class="opacity-box">
      <div class="slider"></div>

      <div class="ramp">
        <div>0%</div>
        <div class="unit-ramp">Opacity</div>
        <div>100%</div>
      </div>
    </div>
  </div>
</template>

<template id="ramp">
  <div>
    <style>
      .ramp {
        display: flex;
        font-size: 0.8em;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      .unit-ramp {
        font-weight: bold;
        color: darkgray;
      }
    </style>

    <div class="ramp"></div>
  </div>
</template>

<template id="controls-input">
  <div style="position: absolute; display: flex; top: 40px; opacity: 0.7;">
    <span style="display: block;
                 position: absolute;
                 top: -8px;
                 border-style: inset;
                 border-color: transparent transparent black;
                 border-radius: 2px;
                 border-width: 33px;
                 transform: scale(1, -0.125);">
    </span>
  </div>
</template>
