<template id="ds-controls-template">
  <style>
    @import "./ripple.css";

    main {
      background-color: var(--the-darker-white);
      border-bottom: solid 1px #d9d9d9;
      color: var(--the-color);
      position: relative;
    }

    main.active {
      background-color: white;
    }

    main.disabled {
      color: #9ca9b5;
    }

    header {
      display: flex;
      justify-content: space-between;

      padding: 0.7em;
      padding-right: 0.4em;

      cursor: pointer;
    }

    [name=name] {
      flex: 1;
      display: block;
      margin: auto 0.5em;
      line-height: 1.5em;
    }

    [name=info],
    [name=checkbox] {
      flex: 0;
      display: block;
    }

    [name=checkbox] {
      margin-bottom: -4px;
      transform: scale(0.6);
    }

    content {
      display: none;
      padding: 0.7em;
    }

    .manual-controls {
      display: none;
      justify-content: space-around;
      border-top: solid 1px #dfdfdf;
      padding-top: 1em;
    }

    .manual-controls input {
      font-family: monospace;
      width: 6em;
    }

    .advanced-controls {
      display: none;
      border-top: solid 1px #dfdfdf;
      margin-top: 1em;
      padding-top: 1em;
    }

    .weight-group,
    .range-group {
      display: block;
      padding: 0.9em 1.5em 0.9em 1.5em;
    }

    .ramp {
      font-size: 0.8em;
    }

    .unit-ramp {
      font-weight: bold;
      color: darkgray;
    }

    .control-option {
      margin-left: 1.5em;
      margin-right: 2.5em;
      margin-bottom: 0.9em;
    }

    .collection {
      font-size: 0.85em;
      margin-bottom: 1em;
      margin-top: 0;
      color: #666;
    }

    select {
      border: none;
      box-sizing: content-box;

      padding: 0.65em;

      width: 100%;

      background-color: white;
    }

    .loading {
      position: absolute;
      display: none;
      background-color: rgba(0,0,0,0.15);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      text-align: left;
      z-index: 1;
    }

    .loading .spinner {
      display: block;
      position: relative;
      top: 4px;
      left: 10px;
      border: 1px solid #333;
      border-radius: 50%;
      border-top: 1px solid white;
      background-color: #D0D0D0;
      animation: spin 2s linear infinite;
      width: 24px;
      height: 24px;
      margin: 0.5em;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>

  <main>
    <div class="loading"><div class="spinner"></div></div>

    <header ripple>
      <slot name="checkbox"></slot>
      <slot name="name"></slot>
      <slot name="dropdown"></slot>
    </header>

    <content>
      <div class="group">
        <slot name="collection-list"></slot>
        <slot name="mutant-options"></slot>
      </div>

      <div class="group range-group">
        <slot name="range-slider"></slot>
      </div>

      <div class="group manual-controls">
        min: <input type="number" bind="min">
        max: <input type="number" bind="max">
      </div>

      <div class="advanced-controls">
        <div class="group weight-group">
          <slot name="weight-slider"></slot>
        </div>
      </div>
    </content>
  </main>
</template>

<template id="ds-card-template">
  <style>
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

    @import "./svg.css";

    :host {
      background-color: var(--the-white);
      display: flex;

      color: var(--the-gray);
      fill: var(--the-gray);

      line-height: 1.8em;
      padding: 5px;

      border-bottom: solid 1px #d9d9d9;
      position: relative;
    }

    header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      flex: 1;
      user-select: none;
    }

    main {
      display: block;
      padding: 0.5em;
      padding-right: 0.3em;
      width: 100%;
      color: var(--the-color);
    }

    content {
      flex: 1;
      display: block;
      padding: 0.5em;
    }

    [layout=title] {
      flex: 1;
      margin-right: 5px;
    }

    [layout=info],
    [layout=close],
    [layout=opacity] {
      flex: 0 1 auto;
      width: 24px;
    }

    [name=info] svg {
      width: 18px;
      margin-top: -2px;
    }

    [name=unit] {
      display: inline-block;
      font-weight: bold;
      font-size: small;
      color: gray;
    }

    [name=handle] {
      display: block;
      width: 24px;
      margin-top: 10px;
      margin-left: 5px;

      fill: #aaa;
      fill-opacity: 1;
      stroke: none;

      cursor: grab;
      cursor: -webkit-grab;
    }

    [name=ramp] {
      font-size: 0.8em;
    }

    .collection {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .collection div,
    .collection svg {
      display: inline-block;
      vertical-align: middle;
    }

    .collection svg {
      transform: scale(0.7);
      margin-right: 0.7em;
    }

    .subheader {
      font-size: 0.7em;
    }
  </style>

  <slot name="handle"></slot>

  <main>
    <header>
      <div layout="title">
        <slot name="name"></slot>
        <slot name="unit"></slot>
      </div>

      <div layout="opacity">
        <slot name="opacity"></slot>
      </div>

      <div layout="info">
        <slot name="info"></slot>
      </div>

      <div layout="close">
        <slot name="close"></slot>
      </div>
    </header>

    <content>
      <slot name="svg"></slot>
      <slot name="ramp"></slot>
    </content>
  </main>
</template>

<template id="opacity-control">
  <div>
    <style>
      .opacity-box {
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
        background-color: white;
        box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
        padding: 16px;
        z-index: 1;
      }
    </style>

    <i class="bi bi-circle-half"></i>

    <div class="opacity-box">
      <div class="slider"></div>

      <div style="display: flex;
                  font-size: 0.8em;
                  flex-flow: row nowrap;
                  justify-content: space-between;">
        <div>0%</div>
        <div>Opacity</div>
        <div>100%</div>
      </div>
    </div>
  </div>
</template>

<template id="ramp">
  <div style="display: flex;
              font-size: 0.8em;
              flex-flow: row nowrap;
              justify-content: space-between;">
  </div>
</template>
