{{define "toast"}}
  <template id="toast-error-template">
    <div class="toast-icon">
      <i class="bi bi-x-circle-fill"></i>
    </div>
    <div class="toast-content">
      <header class="toast-header">
        <h1 class="toast-label" bind="label"></h1>
        <p class="toast-caption" bind="caption"></p>
      </header>
    </div>
  </template>
{{end}}
