#left-pane #drawer {
  border-right: 1px solid lightgray;
}

#left-pane #drawer > div {
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.number-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 400px;
  padding: 1em;
  border: 1px solid darkgrey;
  margin: auto;
  margin-top: 2em;
}

.number-labels-row > th,
.number-labels > div {
  color: white;
  padding: 5px 7px;
}

.country-overview section {
  margin: 1em 0;
}

.svg-interval,
.svg-pie {
  filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, 0.3));
}
