input[type=checkbox]:checked {
  accent-color: var(--the-yellow);
}

#left-pane #drawer {
  border-right: 1px solid lightgray;
  background-color: white;
}

#left-pane #drawer > div {
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.number-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 400px;
  padding: 1em;
  border: 1px solid darkgrey;
  margin: auto;
  margin-top: 2em;
}

.number-labels-row > th,
.number-labels > div {
  color: white;
  padding: 5px 7px;
}

.country-overview section {
  margin: 1em 0;
}

.svg-interval,
.svg-pie {
  filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, 0.3));
}

bubble-message {
  max-width: 42em;
}

.feature-table td,
.feature-table th {
  padding: 4px 7px;
}

#ds-features-table main {
  overflow-y: scroll;
  max-height: calc(100% - 8em);
}
