buttons {
  display: flex;
}

buttons button {
  display: block;
  cursor: pointer;

  border-radius: 2px;

  background-color: white;
  color: var(--the-color);
}

buttons button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

buttons button i:not(:only-child) {
  margin-right: 0.5em;
}
