buttons {
  display: flex;
}

buttons > * {
  display: block;
  cursor: pointer;

  border-radius: 2px;

  line-height: 1.8em;
  width: 1.8em;

  text-align: center;
}

buttons *:hover {
  box-shadow: inset 0px 0px 5px rgb(0 0 0 / 5%);
  background-color: rgba(0, 0, 0, 0.07);
}
