#cards-pane {
  background-color: var(--the-white);
}

#cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
  overflow-y: scroll;
}

#canvas-output-select {
  border: none;
  font-size: 1em;
  background-color: white;
}

#cards-clear-all {
  line-height: 2.7em;
  font-size: 1.1em;
  text-align: center;
  color: var(--the-green);
  cursor: pointer;
  border-bottom: solid 1px #d9d9d9;
}
