#config-buttons {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #d9d9d9;
}

#config-buttons a {
  display: block;
  line-height: 2.8em;
  font-size: 1.5em;
  text-align: center;
  color: var(--the-green);
  cursor: pointer;
  flex-grow: 1;
}

#config pre {
  margin: 0;
}
