#controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls {
  position: relative;
  background-color: #f1f1f1;
  border-bottom: solid 1px #d9d9d9;
}

.controls .label {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 0.8em;
}

.controls .weight-label {
  font-size: 0.7em;
  margin-bottom: 0.7em;
}

.controls .loading {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.controls .svg-checkbox {
  margin-bottom: -4px;
  fill: var(--the-blue);
  transform: scale(0.8);
}

.control-option,
.control-group {
  clear: both;
  white-space: nowrap;
  margin-left: 1.5em;
}

.controls-category {
  flex: 1 50%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.controls-category-title {
  font-size: 2em;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: condensed;
  padding: 0.5em 0;
  padding-bottom: 0;
  color: var(--the-blue);
  fill: var(--the-blue);
  cursor: pointer;
}

.controls-category-title .triangle {
  display: inline-block;
  transform: scale(1.4);
}

.controls-category-title .triangle svg {
  vertical-align: middle;
}

.controls-subcategory-title .triangle {
  display: inline-block;
  transform: scale(1.15);
  margin-left: 5px;
}

.controls-subcategory-title {
  font-size: 1.3em;
  font-family: condensed;
  white-space: nowrap;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 1em 2em;
  border-bottom: solid 1px #d9d9d9;
  cursor: pointer;
}

.controls-dataset-header {
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
}

.controls-dataset-content {
  background-color: white;
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1em;
}

.controls-dataset-header,
.controls-dataset-content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.controls-dataset-description,
.controls-dataset-header svg,
.controls-dataset-unit {
  vertical-align: middle;
}

.controls-dataset-description {
  text-align: right;
  white-space: nowrap;
  margin: auto 0.5em;
}

.controls-dataset-unit {
  margin-right: 1em;
}

.collapse {
  cursor: pointer;
}

#controls-preset {
  border: none;
  width: 100%;

  font-size: 2em;
  padding: 0.7em;
  background-color: white;
  font-family: condensed;
  font-weight: bold;
  text-transform: uppercase;

  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

#supply, #demand {
  flex: 1 50%;
}
