.controls-branch,
.controls-subbranch,
.controls-container {
  position: relative;
}

#controls-tabs {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
}

#controls-contents {
  flex: 1;
  flex-grow: 1;
  border-left: solid 1px #d9d9d9;
  background-color: var(--the-white);

  overflow-y: scroll;
  overflow-x: hidden;
}

.controls-branch-tab {
  font-size: 1.14em;
  line-height: 2em;
  padding: 0.4em 2em;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;

  position: sticky;
  top: 0;
  margin-bottom: 1px;
}

.controls-subbranch-title {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.7em;
  border-bottom: solid 1px #d9d9d9;
  cursor: pointer;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

.controls-subbranch-title .triangle {
  flex-grow: 0;
  margin-right: 1em;
}

.controls-subbranch-title .text {
  flex-grow: 1;
  font-size: 0.9em;
  line-height: 1.3em;
}

.collapse {
  cursor: pointer;
  fill: var(--the-color);
}

#controls .search-results {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

input[bind="max"]::-webkit-outer-spin-button,
input[bind="max"]::-webkit-inner-spin-button,
input[bind="min"]::-webkit-outer-spin-button,
input[bind="min"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 !important;
}

input[bind="min"],
input[bind="max"] {
  max-width: 5em !important;
  border: 1px solid rgba(0,0,0,0.07);
  appearance: none;
  padding: 2px 5px;
}

input[bind="min"] {
  text-align: left;
}

input[bind="max"] {
  text-align: right;
}
