body {
  overflow: hidden;
}

#playground {
  position: relative;
}

#country-select {
  position: absolute;
  background-color: white;
  width: 450px;
  background-color: var(--the-white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

#country-overview {
  border: solid 1px #d9d9d9;
  border-top: none;
}

.country-overview {
  padding: 1em 1em 0 1em;
}

#country-float {
  display: flex;
  position: absolute;

  z-index: 16;
  pointer-events: none;
}

#country-float-name {
  font-size: 2em;
  padding: 0.5em;
  height: 1em;
  text-align: center;
  opacity: 0.7;
}

#country-search-input {
  color: var(--the-black);
  background-color: var(--the-white);
  font-size: 1.3em;
  padding: 1.35em 1.1em;
  border: solid 1px #d9d9d9;
  width: 100%;
  box-sizing: border-box
}

#country-search-input::placeholder {
  color: var(--the-green);
}

#country-selection-legend {
  position: absolute;
  bottom: 40px;
  right: 15px;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 1.2em;
}

#country-selection-legend > div {
  text-align: center;
  padding: 10px 20px;
}

#country-dropdown {
  position: absolute;

  line-height: initial;

  background-color: white;
  border: solid 1px #d9d9d9;

  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;

  display: none;
}

.country-dropdown-element {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  text-align: left;
}

.country-dropdown-element:hover {
  background-color: var(--the-darkest-white);
}

.country-dropdown-name {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
  line-height: 2.1em;
}

.overview-line {
  margin-bottom: 1em;
}

.overview-line:last-of-type {
  margin-bottom: 1.5em;
}

.overview-line svg {
  transform: scaleX(-1);
}

.land {
  stroke-width: 0.7;
  stroke: #ccc;
  fill: white;
  background-color: white;
}

.land.selectable {
  fill: var(--the-light-gray);
  background-color: var(--the-light-gray);
  stroke: gray;
}

.land.online {
  fill: var(--the-green);
  background-color: var(--the-green);
  stroke: white;
  color: white;
}

.land.active {
  fill: var(--the-yellow);
}
