body {
  overflow: hidden;
}

#country-search {
  display: flex;
  position: absolute;

  z-index: 32;
  pointer-events: none;
}

#country-search-input {
  font-size: 3em;
  font-family: monospace;
  padding: 0.5em;
  height: 1em;
  text-align: center;
  opacity: 0.7;
}

#country-search-flag {
  display: block;
}

#country-search-flag img {
  margin-left: 5px;
  height: 82px;
}

#country-overview {
  display: block;
  position: absolute;
  top: 12em;
  left: 0;
  z-index: 32;
  background-color: white;
  padding: 1em;
}

#map {
  background-color: var(--the-white);
}

.land {
  stroke-width: 0.7;
  stroke: lightgray;
  fill: white;
}

.land.selectable {
  fill: var(--the-green);
}

.land.active {
  fill: var(--the-yellow);
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h5 {
  margin: 0.5em;
}

#eae {
  text-align: center;
  margin: 1em;
  background-color: var(--the-green);
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}
