body {
  overflow: hidden;
}

#playground {
  position: relative;
}

#left-panel {
  position: absolute;
  background-color: white;
  width: 320px;

  z-index: 9;
}

#country-select-header {
  font-size: 1.5em;
  padding: 0.65em;
  cursor: pointer;
}

#country-float {
  display: flex;
  position: absolute;

  z-index: 16;
  pointer-events: none;
}

#country-float-name {
  font-size: 2em;
  padding: 0.5em;
  height: 1em;
  text-align: center;
  opacity: 0.7;
}

#country-dropdown {
  position: absolute;

  line-height: initial;
  width: max-content;

  background-color: var(--the-white);

  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;
}

.country-dropdown-element {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 300px;
}

.country-dropdown-element:hover {
  background-color: var(--the-darkest-white);
}

.country-dropdown-name {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
  line-height: 2.1em;
}

#country-search-input::placeholder {
  color: var(--the-green);
  font-size: 1.2em;
}

#country-name {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  font-size: 1.6em;
}

#nav {
  z-index: 1;
}

#map {
  background-color: var(--the-white);
}

.overview-line {
  margin-bottom: 15px;
}

.land {
  stroke-width: 0.7;
  stroke: #ccc;
  fill: white;
}

.land.selectable {
  fill: var(--the-light-green);
  stroke: white;
}

.land.active {
  fill: var(--the-green);
}

.pie-charts {
  stroke: white;
  stroke-width: 2px;
}

.pie-charts-legends {
  font-size: 0.8em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h5 {
  margin: 0.5em;
  text-transform: uppercase;
  color: var(--the-green);
}

#eae {
  text-align: center;
  margin: 1em auto;
  background-color: var(--the-green);
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 0.9em 1.3em;
}
