path.schools {
  fill: orange;
  fill-opacity: 1;
  stroke: black;
}

path.mines {
  fill: lightgray;
  fill-opacity: 1;
  stroke: black;
}

path.minigrids {
  fill: yellow;
  fill-opacity: 1;
  stroke: black;
}

path.powerplants {
  fill: hotpink;
  fill-opacity: 1;
  stroke: black;
}

path.hydro {
  fill: cyan;
  fill-opacity: 1;
  stroke: black;
}

path.health,
path.facilities {
  fill: red;
  fill-opacity: 1;
  stroke: white;
}

path.transmission-lines {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}

path.subcounties,
path.districts {
  fill: black;
  fill-opacity: 0.1;
  stroke: black;
}
