.schools {
  fill: orange;
  fill-opacity: 1;
  stroke: black;
}

.mines {
  fill: lightgray;
  fill-opacity: 1;
  stroke: black;
}

.minigrids {
  fill: yellow;
  fill-opacity: 1;
  stroke: black;
}

.powerplants {
  fill: hotpink;
  fill-opacity: 1;
  stroke: black;
}

.hydro {
  fill: cyan;
  fill-opacity: 1;
  stroke: black;
}

.facilities {
  fill: red;
  fill-opacity: 1;
  stroke: white;
}

.transmission-lines {
  fill: black;
  fill-opacity: 0.7;
  stroke: black;
}
