#filtered-pane {
  padding: 0.7em 0 2em;
  background-color: white;
  justify-content: space-between;
}

#filtered-pane .up-title {
  padding: 0.7em 1em;
  text-align: left;
}

#filtered-subgeographies {
  flex-grow: 1;
  overflow-y: scroll;
  border-bottom: 1px solid lightgray;
}

#filtered-subgeographies details {
  padding: 10px 20px;
}
