#filtered-pane {
  background-color: white;
  justify-content: space-between;
}

#filtered-pane .up-title {
  padding: 0.7em 1em;
  text-align: left;
}

#filtered-subgeographies {
  flex-grow: 1;
  overflow-y: scroll;
  background-color: #F8F8F8;
  border-bottom: 1px solid lightgray;
}

#filtered-subgeographies details {
  padding: 10px 20px;
}

#filtered-subgeographies ul {
  list-style-type: none;
}

#filtered-subgeographies .colored-disc {
  font-weight: bold;
  display: inline-block;
  width: 1.2em;
  margin-left: -2.5em;
  opacity: 0.5;
}
