body {
  font-family: 'Acumin Pro', sans-serif;
}

h1, h2, h3, h4 {
  color: var(--the-green);
  border: none;
  margin: unset;
  padding-left: 0;
  padding-bottom: 0.5em;
}

a {
  cursor: pointer;
}

*:focus {
    outline: none;
}

button {
  font-family: without-serif, sans-serif !important;
  padding: 7px 12px;
}

button,
select {
  border-radius: 3px;
}

a i ~ span,
button i ~ span  {
  margin-left: 0.75em;
}

.big-green-button {
  text-align: center;
  background-color: var(--the-green);
  color: white !important;
  text-decoration: none;
  padding: 0.9em 1.3em;
  font-size: 1.2em;
}

.up-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--the-green) !important;
  fill: var(--the-green) !important;
  background-color: white !important;
}

.up-title.active {
  background-color: var(--the-green) !important;
  color: var(--the-white) !important;
  fill: var(--the-white) !important;
}

bubble-message {
  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);

  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
  z-index: 9999;
}

bubble-message * {
  color: white;
}

bubble-message main {
  padding: 1em;
}

bubble-message header {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: 0.7em;
}

bubble-message .bubble-message-close-button::before {
  font-size: 1.5em;
  padding: 2px 7px;
  content: '×';
}

.download-link {
  display: block;
  padding: 0.5em 1em;
  max-width: 15em;
  text-decoration: none;
  color: var(--the-blue);
  clear: both;
}

.download-link:after {
  margin-left: 1em;
  content: '\21F2';
}

.description-text {
  font-family: without-serif, sans-serif;
  white-space: pre-line;
}

#share-link-modal p {
  max-width: 32em;
}

#share-link-input {
  font-family: monospace;
  font-size: 1.2em;
  padding: 7px 5px;
  color: #414141;
  width: 32em;
  text-align: center;
}

#share-link-copy-button {
  padding: 0 12px;
}

canvas#output {
  display: none;
}

@keyframes pulse {
  0%   { opacity: 0.7; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.7; }
}

dialog main {
  background-color: white;
  margin: auto;
  max-width: 1200px;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 80px !important;
}

dialog header {
  padding: 1em;
  padding-left: 1.3em;
  font-size: 1.2em;
  background-color: var(--the-green);
  color: var(--the-white);
  position: relative;
}

dialog .close {
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  text-decoration: none;
  font-size: 2.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  cursor: pointer;
  color: var(--the-white);
}

dialog content {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  padding: 1.5em 1.5em 0.75em !important;
  width: 590px;
}

dialog content p {
  font-size: 16px;
  line-height: 24px;
  color: #575656;
  margin: 0;
}

dialog footer {
  display: flex !important;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  padding: 0.75em 1.5em 1.5em !important;
}

dialog pre {
  max-width: 850px;
  white-space: pre-line;
}

toast-notification {
  position: fixed;
  left: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 384px;
  background: #EBF5F2;
  border: 1px solid #009E77;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 9999;
}

toast-notification .toast-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 2px 0px 0px;
  width: 20px;
  height: 22px;
}

toast-notification .toast-icon i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #009E77;
}

toast-notification .toast-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  flex: 1;
}

toast-notification .toast-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: 1;
}

toast-notification .toast-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00664D;
  align-self: stretch;
  margin: 0;
}

toast-notification .toast-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #00664D;
  opacity: 0.8;
  align-self: stretch;
  margin: 0;
}

toast-notification .toast-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

toast-notification .toast-footer div {
  display: flex;
  align-items: center;
}
