#indexes-pane {
  color: var(--the-color);
  fill: var(--the-color);
}

#indexes-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
  border-top: 1px solid lightgray;
}

#indexes-list .element {
  background-color: var(--the-white);
  display: flex;

  padding: 0.5em;
  line-height: 1.8em;

  padding: 5px;

  cursor: pointer;
  white-space: nowrap;
}

#indexes-list .element[disabled] {
  color: #ababab;
}

#indexes-list .element[disabled] span::after {
  content: '(no datasets selected)';
  font-size: smaller;
  margin-left: 3em;
}

#indexes-list .element span {
  padding: 0.5em;
}

#indexes-list .element .radio {
  margin-top: 10px;
  margin-left: 10px;
}

#indexes-list .element[bind="demand"]:before,
#indexes-list .element[bind="supply"]:before {
  width: 1.3em;
  display: block;
  content: ' ';
  border-right: solid 1px #d9d9d9;
  margin-right: 0.5em;
}

#index-graphs {
  padding: 0.7em 0 2em;
  background-color: white;
}

#index-graphs-title {
  padding: 0.7em 1em;
  text-align: left;
}

.index-graphs-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}

.index-graphs-group {
  width: 150px;
}

.index-graphs-group div {
  margin: 1em auto;
}

.indexes-pie-label {
  font-size: small;
  color: #919191;
}

.index-graphs-scale {
  margin: 1em 2em;
}

#index-graphs-description {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding: 1em 2em;
}

#index-graphs-toolbox {
  display: flex;
  padding-right: 1em;
  float: right;
}

#index-graphs-toolbox a {
  padding-right: 0.5em;
  cursor: pointer;
}

#bottom-right-container {
  background-color: white;
  text-align: center;
}

#canvas-output-select {
  border: none;
  font-size: 1em;
  background-color: white;
}
