#layers {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 350px;
  display: none;
}

#layers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#layers-header {
  display: flex;
  background-color: white;
  margin: 2px;
  color: #1C4478;
  cursor: pointer;
  padding: 0.5em;
  line-height: 1.8em;

  font-size: 1.6em;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  font-family: MyriadPro-Cond;
}

#layers-header .title {
  flex: 1;
  fill: #1C4478;
}

#layers-header .collapse.triangle {
  flex: 0;
  fill: #1C4478;
  transform: scale(1.4);
}

.layers-element {
  display: flex;
  background-color: white;
  margin: 2px;
  padding: 5px;
  color: #1C4478;
  white-space: nowrap;
}

.layers-element-handle {
  min-width: 1em;

  background-image: url(../images/layer-handle.svg);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;

  cursor: grab;
  cursor: -webkit-grab;

  color: #95A8C1;
}

.layers-element-content {
  flex: 1;
  display: block;
  padding: 0.5em;
}

.layers-element-header {
  display: flex;
  justify-content: space-between;
}

.layers-element-title {
  margin-right: 1em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layers-element-controls {
  float: right;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layers-element-controls div {
  display: inline-block;

  width: 1em;
  height: 1em;

  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

.layers-element-controls div.layer-type:before {
  content: 'T';
}

.layers-element-controls div.layer-visibility:before {
  content: 'V';
}

.layers-element-controls div.layer-info:before {
  content: 'I';
}

.layers-element-descriptor {

}
