#layers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
}

#layers-header {
  display: flex;
  background-color: white;
  margin: 2px;
  color: #1C4478;
  cursor: pointer;
  padding: 0.5em;
  line-height: 1.8em;

  font-size: 1.6em;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

#layers-header .title {
  flex: 1;
  fill: #1C4478;
}

#layers-header .collapse.triangle {
  flex: 0;
  fill: #1C4478;
  transform: scale(1.4);
}

.layers-element,
.layers-element-place-holder {
  margin: 2px;
}

.layers-element {
  background-color: var(--the-white);
  display: flex;
  position: relative;

  color: var(--the-gray);
  fill: var(--the-gray);
  padding: 0.5em;
  line-height: 1.8em;

  padding: 5px;

  white-space: nowrap;
}

.layers-element-place-holder {
  background-color: rgba(0,0,0,0.3);
}

.layers-element-handle {
  width: 24px;

  background-image: url(../images/layer-handle.svg);
  background-size: 16px auto;
  background-position: center 4px;
  background-repeat: no-repeat;

  cursor: grab;
  cursor: -webkit-grab;

  color: #95A8C1;
}

.layers-element-handle,
.layers-element-radio {
  margin-top: 10px;
}

.layers-element-content {
  flex: 1;
  display: block;
  padding: 0.5em;
}

.layers-element-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.layers-element-title {
  flex: 1 0;

  margin-right: 1em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

.layers-element-controls {
  text-align: right;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  fill: var(--the-gray);
}

.outputs-layers .layers-element-controls {
  flex: 1 1 100%;
}

.layers-element-controls div {
  display: inline-block;

  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  margin: 4px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

.layers-element-description  {
  margin-top: 12px;
}

.layers-element-collection > div,
.layers-element-collection > svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em;
}

.layers-element-collection > svg {
  transform: scale(0.7);
}

.layers-element-subheader {
  font-size: 0.7em;
}

.layers-element-index-description,
.layers-element-useless {
  font-size: 0.7em;
  font-style: italic;
}

.layers-element-index-description {
  float: right;
}

.outputs-layers[bind="demand"]:before,
.outputs-layers[bind="supply"]:before {
  width: 1em;
  display: block;
  content: ' ';
  border-right: 1px lightgray solid;
  margin-right: 1em;
}

.layers-opacity-control {
  position: absolute;
  top: -10px;
  right: 20px;

  display: none;
  background-color: white;

  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);

  padding: 16px;
  padding-bottom: 4px;
}
