body {
  overflow: hidden;
}

#playground {
  display: flex;
  flex-flow: row nowrap;

  flex-direction: row;

  width: auto;     /* will be changed by JS */
  height: auto;    /* will be changed by JS */

  padding: 0;
  font-size: 0.9em;
}

#controls-wrapper {
  min-width: 32em;
  display: flex;
  flex-flow: column nowrap;
  flex: 0;
}

#controls {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

#visual {
  flex: 1 0;
  flex-flow: row nowrap;

  position: relative;
}

#views {
  display: flex;
  flex: 1 100%;
  justify-content: space-around;
  z-index: 1;
}

#maparea {
  position: relative;
  flex: 1;
  width: 100%;    /* will be changed by JS */
  height: auto;    /* will be changed by JS */
  padding: 0;
  margin: auto;
}

#right-pane {
  display: flex;
  flex-flow: column nowrap;
  width: 350px;
}

#indexes-pane,
#inputs-pane {
  display: flex;
  flex-flow: column nowrap;

  flex: 1 0 auto;
  width: 100%;
}

#indexes-list,
#inputs-list {
  z-index: 1;
}

#inputs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
  box-shadow: 3px 1px 5px rgba(0,0,0,0.3);
  overflow-y: scroll;
}

#drawer {
  border-top: 1px solid lightgray;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
}

#drawer > div {
  display: block;
  width: 100%;
  text-align: center;
  border-right: 1px solid lightgray;
  cursor: pointer;
  padding: 1em;
}

[bind=help-message] {
  display: none;
}

#disclaimer-message {
  display: none;
  position: absolute;
  background-color: #141414;
  right: 0;
  bottom: 0;
  padding-right: 2em;
}

#disclaimer-message p {
  color: #f1f1f1;
  white-space: pre;
}

#drawer > div:hover #disclaimer-message {
  display: block;
}

div#mapbox-container,
svg#svg-map {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#mapbox-container {
  z-index: 0;
}

#mapbox-theme-control-popup .radio-group + .radio-group {
  margin-top: 8px;
}

#canvas-output-container {
  height: 350px;
  margin-top: 3px;
  box-sizing: border-box;
  z-index: 0;
}

#canvas-output-select {
  display: block;
  padding: 0.7em 1em;
}

canvas#output {
  height: 300px;
}
