body {
  overflow: hidden;
}

#playground {
  display: flex;
  flex-flow: row nowrap;

  flex-direction: row;

  width: auto;     /* will be changed by JS */
  height: auto;    /* will be changed by JS */

  padding: 0;
  font-size: 0.9em;
}

#left-pane {
  display: flex;
  flex-flow: column wrap;
  flex: 0;
  margin-top: -1px;
}

#vectors,
#geographies,
#controls {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 36em;
}

#visual {
  flex: 1 0;
  flex-flow: row nowrap;

  position: relative;
}

#views {
  display: flex;
  flex: 1 100%;
  justify-content: space-around;
  z-index: 1;
}

#maparea {
  position: relative;
  flex: 1;
  width: 100%;    /* will be changed by JS */
  height: auto;    /* will be changed by JS */
  padding: 0;
  margin: auto;
}

#right-pane {
  position: relative;
  display: block;
  width: 24em;
}

#right-pane .header {
  padding: 0 1em;
}

#right-pane .graphs {
  padding: 0 0.5em;
}

#filtered-pane,
#indexes-pane,
#cards-pane {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;

  width: inherit;
  height: 100%;
  z-index: 0;
}

#cards-list {
  flex-grow: 1;
}

#timeline {
  text-align: center;
  height: 128px;
}

#timeline svg {
  margin: 2em auto;
}

#drawer-right-pane {
  border-top: 1px solid lightgray;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

#drawer-right-pane > div {
  display: block;
  width: 100%;
  text-align: center;
  border-right: 1px solid lightgray;
  cursor: pointer;
  padding: 1em;
}

[bind=help-message] {
  display: none;
}

#disclaimer-message {
  display: none;
  position: absolute;
  background-color: #141414;
  right: 0;
  bottom: 0;
  padding-right: 2em;
}

#disclaimer-message p {
  color: #f1f1f1;
  white-space: pre;
}

#drawer-right-pane > div:hover #disclaimer-message {
  display: block;
}

#mapbox-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#mapbox-container {
  z-index: 0;
}

#mapbox-theme-control-popup .radio-group + .radio-group {
  margin-top: 8px;
}

.bottom-right-container {
  height: auto;
  margin-top: 3px;
  margin-bottom: 47px;
  box-sizing: border-box;
  z-index: 0;
}

#canvas-output-select {
  display: block;
  padding: 0.7em 1em;
}

canvas#output {
  max-height: 300px;
  max-width: 100%;
}
