body {
  overflow: hidden;
}

#playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;     /* will be changed by JS */
  height: auto;    /* will be changed by JS */

  padding: 0;
  font-size: 0.9em;
}

#left-pane {
  display: flex;
  flex-grow: 0;
  flex-flow: column wrap;
  margin-top: -1px;
}

#left-pane[open] {
  min-width: 36em;
}

#visual {
  display: flex;
  flex: 1 0;
  flex-flow: column nowrap;
  position: relative;
}

#views {
  display: flex;
  flex: 1 100%;
  justify-content: space-around;
  z-index: 1;
}

#maparea {
  flex: 1;
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: 0;
  margin: auto;
}

#right-pane {
  display: flex;
  flex-flow: column nowrap;

  width: 24em;
}

#right-pane .graphs {
  padding: 0 0.5em;
}

#filtered-pane,
#indexes-pane,
#cards-pane {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;

  height: 100%;
  width: inherit;
}

#cards-list {
  flex-grow: 1;
}

#timeline {
  display: flex;
  flex-flow: column;
  text-align: center;
  height: 128px;
  padding: 1em 2em;
}

#timeline svg {
  order: 1;
  margin: 2em auto 0 auto;
}

#timeline-dates-container {
  order: 2;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  font-family: monospace;
  justify-content: space-between;
}

#drawer-right-pane {
  border-top: 1px solid lightgray;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
}

#drawer-right-pane > div {
  display: block;
  width: 100%;
  text-align: center;
  border-right: 1px solid lightgray;
  cursor: pointer;
  padding: 1em;
}

[bind=help-message] {
  display: none;
}

#disclaimer-message {
  display: none;
  position: absolute;
  background-color: #141414;
  right: 0;
  bottom: 0;
  padding-right: 2em;
}

#disclaimer-message p {
  color: #f1f1f1;
  white-space: pre;
}

#drawer-right-pane > div:hover #disclaimer-message {
  display: block;
}

#mapbox-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#mapbox-container {
  z-index: 0;
}

.bottom-right-container {
  box-sizing: border-box;
}

.bottom-right-container .header {
  line-height: 3em;
}

#canvas-output-select {
  display: block;
  padding: 0.7em 1em;
}

canvas#output {
  max-height: 300px;
  max-width: 100%;
}
