#left-pane select {
  border: none;
  width: 100%;
  padding: 0.65em;
  background-color: white;
}

#left-pane #drawer {
  display: block;
  flex: 1;
  min-height: 100%;
  width: 4em;
  border-right: 1px solid lightgray;
}

#left-pane #drawer a {
  flex: 0;
  margin: 0;
  height: 3em;
  line-height: 3em;
  font-size: 1.4em;
  display: block;
  text-align: center;
  border-bottom: 1px solid lightgray;
  color: var(--the-color);
}

#left-pane #drawer a.active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.07);
}
