#playground {
  display: block;
  max-width: 80em;
  margin: auto;
  justify-content: center;
}

#playground main[tab-content] {
  display: none;
}

#playground main[tab-content][active] {
  display: block;
}

#tabs {
  display: flex;
  cursor: pointer;
  max-width: 80em;
  margin: auto;
}

[tab] {
  padding: 1em;
}

[tab] i {
  margin-right: 1em;
}

[tab][active] {
  border-bottom: 5px solid var(--the-green);
}

#banner {
  background-color: white;
  padding: 3em 7em 0;
}

#banner h1 {
  color: black;
  margin-top: 0;
  padding-top: 1em;
}

#banner h2 {
  color: black;
  font-size: 2em;
  width: 12em;
  margin-top: 3em;
}

#banner h3 {
  color: black;
  font-size: 1.7em;
  padding-left: 0;
}

#snapshots {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2em;
}

#snapshots-controls {
  margin: 0 2em 2em 2em;
  align-items: center;
  width: 100%;
}

.snapshot-square {
  margin: 0.7em;
  background-color: white;
  position: relative;
  width: calc(33% - 2.8em);
  border: 1px solid lightgray;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.snapshot-square header {
  padding: 1em;
  background-color: #E8E8E7;
}

.snapshot-square content {
  padding: 1em;
  display: block;
}

.snapshot-square footer {
  font-size: 0.9em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
}

.snapshot-square footer button i,
.snapshot-square footer a i {
  margin-right: 0.5em;
}

.date {
  color: #6B6868;
  font-size: 0.9em;
}

h4 {
  color: var(--the-green);
  margin-top: 0em;
}

input#search {
  min-width: 30em;
  font-size: 1.2em;
  padding: 0.8em;
  margin: 2em;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.title {
  font-size: 1.2em;
}

.path {
  font-size: 0.8em;
  color: var(--the-gray);
}

.title-edit {
  position: absolute;
  top: 1em;
  right: 1em;
}

.title-edit span {
  cursor: pointer;
  margin-left: 0.7em;
}

.title-input {
  padding: 12px 7px;
  font-size: 1.2em;
}

.env {
  display: inline-block;
  padding: 5px 7px;
  background-color: #cdcdcd;
  border-radius: 3px;
  font-size: small;
}

select {
  padding: 0.7em 1.5em;
  font-size: 1.2em;
}
