body {
  background-color: #E8E8E7;
}

#playground {
  display: block;
  width: 60em;
  margin: auto;
  justify-content: center;
}

#playground main[tab-content] {
  display: none;
}

#playground main[tab-content][active] {
  display: flex;
}

#tabs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  cursor: pointer;
}

[tab] {
  padding: 1em 3em;
}

[tab][active] {
  background-color: #ebebeb;
}

#banner {
  background-color: white;
  padding: 3em 7em;
}

#banner h1 {
  color: black;
  margin-top: 0;
  padding-top: 1em;
}

#banner h2 {
  color: black;
  font-size: 2em;
  width: 12em;
  margin-top: 3em;
}

#banner h3 {
  color: black;
  font-size: 1.7em;
  padding-left: 0;
}

#sessions,
#left {
  width: 50%;
}

#sessions-controls {
  display: flex;
  justify-content: space-between;
  height: 7em;
  align-items: center;
  margin-left: 1em;
}

.session-square {
  padding: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  background-color: white;
  position: relative;
}

.date {
  color: #6B6868;
  font-style: italic;
  font-size: 0.9em;
}

h4 {
  color: var(--the-green);
  margin-top: 0em;
}

input#search {
  min-width: 30em;
  padding: 20px;
  margin: 2em;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.title-edit {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.title-edit span {
  cursor: pointer;
  margin-left: 0.7em;
}

.title-input {
  padding: 12px 7px;
  font-size: 1.2em;
}

.env {
  display: inline-block;
  padding: 5px 7px;
  background-color: #cdcdcd;
  border-radius: 3px;
  font-size: small;
}

.download {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  color: var(--the-green);
  font-size: 0.9em;
  cursor: pointer;
}

select {
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  width: 8em;
}
