#maparea {
  background-color: var(--the-white);
}

canvas.mapboxgl-canvas {
  cursor: crosshair;
}

#coord-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;

  background: #fff;
  color: #666;

  padding: 5px;
  border: solid #ccc 1px;

  font-size: x-small;
  font-family: monospace;
  white-space: nowrap;
}
