#maparea {
  background-color: var(--the-white);
}

canvas.mapboxgl-canvas {
  cursor: auto;
}

.mapboxgl-ctrl button {
  font-size: 1.6em;
  color: var(--the-color);
}

.mapboxgl-ctrl-icon.active {
  background-color: rgba(0,0,0,.07);
}

#coord-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;

  background: #fff;
  color: #666;

  padding: 5px;
  border: solid #ccc 1px;

  font-size: x-small;
  font-family: monospace;
  white-space: nowrap;
}

.mapbox-control-popup .radio-group label {
  margin-left: 0.5em;
}

.mapbox-control-popup .radio-group + .radio-group {
  margin-top: 8px;
}
