#mobile-switcher {
  display: none;
}

@media (max-width: 72em) {
  .more-dropdown {
    display: none !important;
  }

  .bottom-right-container {
    display: none;
  }

  #left-pane {
    min-width: unset;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .search-input {
	display: none;
  }

  #right-pane {
    width: 100%;
    position: absolute;
  }

  #controls-tabs {
    display: none;
  }

  #mobile-switcher {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  #mobile-switcher > div {
    flex: 1;
    text-align: center;
    padding: 12px;
    fill: var(--the-color);
  }

  #mobile-switcher > div.active {
    background-color: #dedede;
  }

  #views {
    width: 100%;
    position: fixed;
    top: unset;
	bottom: 0;
  }

  #mapbox-container {
    position: relative;
  }

  #playground {
    box-shadow: 3px 1px 2px rgba(0,0,0,0.9);
  }
}
