body {
  overflow: hidden;
}

#playground {
  width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.country-item {
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 300px;
}

.country-item svg {
  filter: drop-shadow(0px 0px 1.5px #000);
}

.selectlist-input {
  font-size: 1.7em;
  padding: 0.5em 1em;

  font-family: without-serif;
  font-weight: lighter;

  text-align: center;
  margin: auto;

  /*
   * color: white;
   * background-color: var(--the-green);
   */
  border: none;
}

@media (max-width: 72em) {
  #playground {
    flex-flow: column nowrap;
    width: unset;
  }

  .country-item {
    display: flex;
    padding: 1em;
    width: unset;
  }

  .country-item svg {
    order: 1;
    vertical-align: middle;
  }

  .country-item h2 {
    order: 2;
    vertical-align: middle;
    padding-left: 1em;
  }
}
