.search-panel {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 36em;
  user-select: none;
  flex-flow: column;
  border-top: solid 1px transparent;
}

.search-input {
  font-family: without-serif;
  font-weight: lighter;
  font-size: 1.7em;
  align-items: center;
  box-sizing: border-box;
  color: var(--the-white);
  background-color: var(--the-green);
  padding: 1em 1em;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.search-input::placeholder {
  color: rgba(255,255,255,0.7);
}

.search-results {
  flex-grow: 1;
  height: -webkit-fill-available;
  height: -moz-available;
  background-color: white;
  padding: 1em;
  overflow-y: scroll;
}

.search-results ul {
  list-style-type: none;
  margin: 0;
  margin-top: 2em;
  padding: 0;
}

.search-results ul li {
  padding: 0.5em 1em;
}

.search-results ul li:hover {
  background-color: rgba(0,0,0,0.08);
}

.search-results-info {
  display: block;
  position: sticky;
  top: -1em;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 1em;
  margin: -1em;
  margin-top: -1em;
}
