#summary-button {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

#summary-graphs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 800px;
  color: var(--the-color);
}

.tab.hidden {
  display: none !important;
}

table.summary {
  width: 100%;
  margin: 1em auto 2em;
}

table.summary td {
  text-align: right;
  padding: 3px 5px;
}

table.summary .index-name {
  text-align: left;
  font-family: without-serif, sans-serif;
}

#summary-graphs .index-group {
  margin: 2em 0;
}
