#views .view {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  display: block;
  white-space: nowrap;
  padding: 0.7em;
  color: var(--the-green);
  cursor: pointer;
  background-color: var(--the-light-gray);
}

#views .view.active {
  background-color: var(--the-white);
  color: var(--the-green);
}

h1, h2, h3 {
  color: var(--the-green);
}

.download-link {
  display: block;
  padding: 0.5em 1em;
  max-width: 15em;
  text-decoration: none;
  color: var(--the-blue);
  clear: both;
}

.download-link:after {
  margin-left: 1em;
  content: '\21F2';
}

.description-text {
  font-family: without-serif, sans-serif;
  white-space: pre-line;
}

#summary-button {
  position: absolute;
  bottom: 7px;
  left: 7px;
  z-index: 10;

  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  padding: 0.7em 1em;
  color: var(--the-green);
  cursor: pointer;
  background-color: var(--the-white);
}

table.summary {
  font-family: monospace;
}

table.summary td {
  text-align: right;
  padding: 3px 5px;
}

table.summary .index-name {
  text-align: left;
  font-family: without-serif, sans-serif;
}

#country-dropdown {
  position: absolute;

  line-height: initial;
  width: max-content;

  background-color: var(--the-white);
}

.country-dropdown-element {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 300px;
}

.country-dropdown-element:hover {
  background-color: var(--the-darkest-white);
}

.country-dropdown-name,
.country-dropdown-image {
  display: inline-block;
}

.country-dropdown-name {
  vertical-align: top;
  margin: 0 0.5em;
  line-height: 2.1em;
}

.country-dropdown-image img {
  max-height: 2em;
}
