h1, h2, h3 {
  color: var(--the-green);
}

#views {
  position: absolute;
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: center;
}

#views .view {
  text-align: center;
  padding: 0.7em 1em;
  cursor: pointer;
  color: var(--the-green);
  width: 250px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  background-color: var(--the-white) !important;
}

#index-graphs-title,
#views .view-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--the-green);
  margin-bottom: 5px;
}

#views .view.active {
  background-color: var(--the-green) !important;
}

#views .view.active .view-name {
  color: var(--the-white) !important;
}

.download-link {
  display: block;
  padding: 0.5em 1em;
  max-width: 15em;
  text-decoration: none;
  color: var(--the-blue);
  clear: both;
}

.download-link:after {
  margin-left: 1em;
  content: '\21F2';
}

.description-text {
  font-family: without-serif, sans-serif;
  white-space: pre-line;
}

#summary-button {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  padding: 0.7em 1em;
  color: var(--the-green);
  cursor: pointer;
  background-color: var(--the-white);
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

table.summary {
  font-family: monospace;
}

table.summary td {
  text-align: right;
  padding: 3px 5px;
}

table.summary .index-name {
  text-align: left;
  font-family: without-serif, sans-serif;
}

.number-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 400px;
  padding: 1em;
  border: 1px solid darkgrey;
  margin: auto;
  margin-top: 2em;
}

.number-labels-row > th,
.number-labels > div {
  color: white;
  padding: 5px 7px;
}

#graphs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.tab.hidden {
  display: none !important;
}

.big-green-button {
  text-align: center;
  margin: 1em auto;
  background-color: var(--the-green);
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 0.9em 1.3em;
}

dialog main {
  background-color: white;
  margin: auto;
  max-width: 1200px;
  width: fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  font-size: 1.2em;
  margin-top: 80px !important;
}

dialog header {
  padding: 1em;
  padding-left: 1.3em;
  font-size: 1.1em;
  background-color: var(--the-green);
  color: var(--the-white);
  position: relative;
}

dialog .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  text-decoration: none;
  font-size: 1.4em;
  line-height: 1em;
  width: 1em;
  display: block;
  text-align: center;
  vertical-align: middle;
  color: var(--the-white);
}

dialog content {
  padding: 1.7em !important;
}

dialog pre {
  max-width: 850px;
  white-space: pre-line;
}

aside.nanny-marker {
  position: absolute;
  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  padding: 5px 15px;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);

  max-width: 400px;

  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
  z-index: 9999;
  pointer-events: none;
}

aside.nanny-marker * {
  color: white;
}

.nanny-caret {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-style: inset;
  border-color: transparent;
  border-radius: 2px;
}

@keyframes pulse {
    0%   { opacity: 0.7; }
    50%  { opacity: 1.0; }
    100% { opacity: 0.7; }
}

.svg-interval,
.svg-range,
.svg-pie {
  filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, .3));
}

[ripple] {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

[ripple]:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, gray 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

[ripple]:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}
