#views .view {
  text-align: center;
  font-family: condensed;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  display: block;
  white-space: nowrap;
  padding: 0.7em;
  color: var(--the-blue);
  cursor: pointer;
  background-color: #f1f1f1;
}

#views .view.active {
  background-color: var(--the-blue);
  color: var(--the-white);
}

h1, h2, h3 {
  color: var(--the-blue);
  font-family: condensed;
}

.download-link {
  display: block;
  padding: 0.5em 1em;
  margin: 1em;
  max-width: 15em;
  text-decoration: none;
  color: var(--the-blue);
  /* border: 1px solid var(--the-blue); */
  clear: both;
}

.download-link:after {
  margin-left: 1em;
  content: '\21F2';
}

.description-text {
  font-family: with-serif, serif;
  white-space: pre-line;
}
